@use "unit" as *;

@mixin posCenter {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}


@mixin containerMax($max-width: 1024px) {
  max-width: rem($max-width);
  @include autoMargin;
}

@mixin paddingX($spacing) {
  padding: rem($spacing);
}

@mixin autoMargin {
  margin-left: auto;
  margin-right: auto;
}